body,
html{
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed;
  height: 100%;
  width:100%;
  background-size: cover;
  
}
hr{
    border-color: #f05f44;
    border-width: 3px;
    max-width: 65px;
}
.buffer{
    height: 10rem;
}
h1{
    font-size: 3rem;
    /* text-transform: uppercase; */
    color: #e2e2e2;
}
.btn{
    font-weight: 700;
    border-radius: 300px;
    text-transform: uppercase;
    
}
.btn-xl{
    padding: 1rem 2rem;
}
.btn-primary{
    background-color: #f05f44;
    border-color: #f05f44;

}
.btn-xl:hover{
    background-color: #ee4b08;
    border-color: #ee4b08;
    border-width: 4px;
}
